LOCAL_TEST=False
CHROME_CONFIGS_URL=''
CHROME_URL=''
CHROMEDRIVER_VERSION=''
BRIDGE_URL=''
SIGN_KEY=''
RECEIVE_ADDRESSES='{"prime":"","vector":"","preview":"","nexus":"","polygon":"","ethereum":"","katana":"","sei":"","scroll":"","unichain":""}'
PREVIEW_FAUCET_API_KEY=''
PREPROD_FAUCET_API_KEY=''
BRD_PROXY_USERNAME=''
BRD_PROXY_PASSWORD=''
CARDANO_TESTNET_WALLETS=''
