SENTRY_ACCEPT=False
CHROME_CONFIGS_URL=''
CHROME_VERSION=''
CHROMEDRIVER_VERSION=''
BRIDGE_URL=''
SIGN_KEY=''
PREVIEW_FAUCET_API_KEY=''
PREPROD_FAUCET_API_KEY=''
BRD_PROXY_USERNAME=''
BRD_PROXY_PASSWORD=''
CARDANO_TESTNET_WALLETS=''
RECEIVE_ADDRESSES='{"prime":"","vector":"","preview":"","nexus":"","polygon":"","ethereum":"","katana":"","sei":"","scroll":"","unichain":"","solana":""}'
