CHROME_CONFIGS_URL=''
CHROMEDRIVER_VERSION=''
BRIDGE_URL=''
SIGN_KEY=''
APEX_FUSION_FAUCET_URL=''
PREVIEW_FAUCET_API_KEY=''
PREPROD_FAUCET_API_KEY=''
BRD_PROXY_USERNAME=''
BRD_PROXY_PASSWORD=''
CARDANO_TESTNET_WALLETS=''
